body {
    background-color: #111;
    font-family: Courier, Helvetica, Arial;
    color: #ddd;
    text-align: center;
}
main {
    margin: auto;
    width: 500px;
    height: 500px;
}
.cols {
    display: flex;
    justify-content: space-evenly;
}